.table{
    margin: 40px;
}

.title{
    font-size: 24px;
    color: #808080;
}

.line{
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    color: #808080;
}

.table-header{
    background-color: #f4f2ff !important;
}

.table-card{
    box-shadow: 0px 2px 5px #0000004d;
}